.AnchorPane {
    -fx-background-radius: 10px;
}
.button
{
-fx-background-color : #8228D1;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #10165F;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#fffafa;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #8228D1;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.ordens-conluidas{
    -fx-background-color: #8228D1;
    -fx-background-radius: 30;
}

.button-cadastro{
    -fx-background-color: #8228D1;
    -fx-background-radius: 30 30 30 30;
}

.spinner .increment-arrow-button {
	-fx-background-color:  #47077F;
	-fx-background-radius: 10;
}
.spinner .decrement-arrow-button{
    -fx-background-color:  #7733b3;
	-fx-background-radius: 10;
}
.spinner .increment-arrow-button:hover {
	-fx-background-color: #2b074b;
}
.spinner .decrement-arrow-button:hover{
    -fx-background-color: #4d2173;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color:  #fffafa;
}

.spinner:focused,
.spinner:contains-focus {
  -fx-border-radius: 40;
  -fx-background-color: #47077F;
}

.stock-item{
    -fx-background-color: #fffafa;
    -fx-background-radius: 30;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.transparent{
    -fx-background-color: #fffafa;
    -fx-background-color: rgba(0,0,0,0);
}
1